/* 
	 ====================================
		Reset CSS
	 ====================================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
	 ====================================
		Other useful reset rules
	 ====================================
*/
/* apply border-box model to all elements */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* make all images responsive) */
img {
  max-width: 100%;
  /* will adjust sizes with its container */
  height: auto;
}

body {
  font-family: "Baloo Tamma 2", "Noto Sans TC", sans-serif;
  letter-spacing: 0.7px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.main {
  background-image: linear-gradient(174deg, #FFD370 2%, #FFD370 46%, #FFFFFF 46%, #FFFFFF 100%, #E8E8E8 100%);
}

.main h1 {
  font-family: BalooTamma2-Bold;
  font-size: 48px;
  color: #333333;
  letter-spacing: 8px;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 24px;
}

.main .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.main .input-container .input-field {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  padding-left: 24px;
  padding-right: 24px;
}

.main .input-container .input-field:focus {
  outline: none;
}

.main .input-container .input-field::-webkit-input-placeholder {
  color: #9F9A91;
}

.main .input-container .input-field:-ms-input-placeholder {
  color: #9F9A91;
}

.main .input-container .input-field::-ms-input-placeholder {
  color: #9F9A91;
}

.main .input-container .input-field::placeholder {
  color: #9F9A91;
}

.main .input-container .btn-add-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333333;
  color: white;
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  font-size: 32px;
}

.main .task-container {
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  margin-top: 8px;
}

.main .task-container .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #EFEFEF;
}

.main .task-container .filter button {
  width: 33.33%;
  background: white;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #9F9A91;
  font-size: 14px;
  padding: 16px;
}

.main .task-container .filter button:hover {
  color: #FFD370;
}

.main .task-container .filter .active {
  color: #333333;
  font-weight: bold;
  border-bottom: 2px solid #333333;
}

.main .task-container .task-list {
  min-height: 300px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 16px;
}

.main .task-container .task-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .task-container .task-list .list-item:hover .btn-cancel {
  opacity: 1;
}

.main .task-container .task-list .list-item .list-item-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .task-container .task-list .list-item .list-item-checkbox .list-item-content {
  width: 392px;
  border-bottom: 1px solid #EFEFEF;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 16px;
}

.main .task-container .task-list .list-item .list-item-checkbox .check-mark {
  color: #FFD370;
  cursor: pointer;
  margin-left: 2px;
}

.main .task-container .task-list .list-item .list-item-checkbox .list-item-content-checked {
  text-decoration: line-through;
  color: #9F9A91;
  border-bottom: 1px solid #EFEFEF;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 16px;
}

.main .task-container .task-list .list-item .btn-cancel {
  height: 16px;
  opacity: 0;
}

.main .task-container .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
  font-size: 14px;
}

.main .task-container .tools .btn-clear {
  border: none;
  color: #9F9A91;
  background: white;
}

.main .task-container .tools .btn-clear:hover {
  color: #333333;
}
/*# sourceMappingURL=all.css.map */